.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.header {
  border-radius: 10px;
  background-color: #00b19f;
  color: white;
  padding: 20px;
  width: 100%;
}

.nuggetsList {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

.nugget {
  display: block;
  background-color: #d1e5d1;
  color: #00b19f;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}