.container {
    display: block;
    position: absolute;
    top: -15px;
    left: -10px;
    border: 1px solid black;
    background-color: white;
}

.option,
.delete {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin: 5px;
}

.option:hover,
.delete:hover {
    background-color: rgba(196, 196, 196, 1);
}
