.container {
}

.item {
  background: #f1f1f1;
  padding: 20px 24px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
}

.itemActive {
  background: #ecfbef;
  transition: all 0.2s;
  padding: 20px 24px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.item:hover {
  background: #ecfbef;
}

.bgContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
}

.bg {
  object-fit: contain;
  opacity: 0.2;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.notification {
  font-weight: bold;
}

.subtitle {
  color: var(--textSoft);
  font-weight: 500;
  font-size: 12px;
}

.title {
  display: block;
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.desc {
  color: var(--textSoft);
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  background-color: #5d57c9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.header {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.indicatorTitle {
  color: #717171;
}
