.container {
  display: flex;
}

@media only screen and (max-width: 998px) {
  .container {
    flex-direction: column;
  }
}

.menu {
  flex: 1;
  background-color: var(--bgSoft);
  padding: 20px;
  min-height: 100vh;
}

.content {
  flex: 4;
  padding: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

@media only screen and (max-width: 998px) {
  .main {
    flex-direction: column;
  }
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.side {
  flex: 1;
}

.twoSide {
  flex: 2;
}

.customInput {
  width: 300px;
  height: 30px;
}

.filterContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

@media only screen and (max-width: 998px) {
  .filterContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}

.inputFilter {
  flex: 1;
  background-color: #f1f1f1;
  border-radius: 10px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  outline: none;
  font-size: 15px;
}

.inputContainter {
  flex: 1 0 21%;
  display: flex;
  color: var(--textSoft);
  flex-direction: column;
}

.inputWrapper {
  position: relative;
  display: flex;
}

.react-datepicker__close-icon::after {
  color: red;
}

.clearButton {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: #00b19f; 
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.clearButton::after {
  content: "+"; 
  font-size: 16px;
  transform: rotate(135deg);
  color: white;
}